*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!weka.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Labsheet1/nbproject/private/
/Labsheet1/build/
/Results/nbproject/private/
/Results/dist/
/Results/build/
/JavaProject5/nbproject/private/
/JavaProject5/build/
/JavaProject5/dist/